.calculator-container {
width: 300px;
margin: 50px auto;
text-align: center;
font-family: Arial, sans-serif;
}


.calculator-input {
width: 90%;
height: 35px;
margin-bottom: 20px;
font-size: 18px;
padding: 5px;
}


.button-grid {
display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 10px;
}


button {
height: 50px;
font-size: 18px;
border: 2px solid #444;
border-radius: 10px;
background-color: #f5f5f5;
cursor: pointer;
}


button:hover {
background-color: #ddd;
}


.result-display {
margin-top: -3px;
margin-bottom: 12px;
min-height: 25px;
font-size: 18px;
}