.countries-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.countryCard {
  width: 150px;
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.countryCard img {
  width: 100%;
  height: auto;
}

.searchInput {
  display: block;
  margin: 20px auto;
  padding: 10px;
  width: 300px;
}